<div class="col-sm-12" id="body_container_top">
    <h3>{{t "messages::messages" }}</h3>
    <ul id="inbox-tabs" class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger tab-space-1">
        <li class="li-new-mail pull-right">
            <a  id="compose" data-toggle="tab" href="#write" data-target="write" class="btn-new-mail">
                <span class="btn bt1n-small btn-blue no-border">
                    <i class=" fa fa-envelope bigger-130"></i>
                    <span class="bigger-110">{{ t "messages::write_mail" }}</span>
                </span>
            </a>
        </li><!-- ./li-new-mail -->

        <li id="inbox-tab" class="active">
            <a data-toggle="tab" href="#inbox" data-target="inbox">
                <i class="blue fa fa-inbox bigger-130"></i>
                <span class="bigger-110">{{ t "messages::inbox" }}</span>
            </a>
        </li>

        <li id="sent-tab">
            <a data-toggle="tab" href="#sent" data-target="sent">
                <i class="orange fa fa-location-arrow bigger-130 "></i>
                <span class="bigger-110">{{ t "messages::sent" }}</span>
            </a>
        </li>
    </ul>
    <div class="col-sm-12 col-md-12" id="main">
    </div>
</div>