<div id="channelsSidebar">
<h5 class="page-header">
    <span class="middle">Statistics {{name}} Chat Room</span>
</h5>
<div class="row">
    <div class="col-xs-5">
        {{#photo}}
            <img class="img-responsive lazy" alt="{{ name }} Avatar" data-original="{{ path_medium }}">
        {{/photo}}
        {{^photo}}
            <img class="img-responsive lazy" alt="{{ name }} Avatar" data-original="{{ globalVar "default_chat_image" }}">
        {{/photo}}
    </div>
    <div class="col-xs-7" id="channelStatistics">
        <div class="row info">
            <div class="col-xs-6">
                <i class="fa fa-bar-chart-o"></i> Visits
            </div>
            <div class="col-xs-6" id="statistics-num-visits">
                 {{ count_visits }}
            </div>
        </div>

        <div class="row info">
            <div class="col-xs-6">
                <i class="fa fa-users"></i> Fans
            </div>
            <div class="col-xs-6" id="statistics-num-fans">
                {{ fans.length }}
            </div>
        </div>      

        <div class="row info">
            <div class="col-xs-6">
                <i class="fa fa-star"></i> Stars
            </div>
            <div class="col-xs-6">
                <font color="#FBB117">
                 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
                 </font>
            </div>
        </div>      

    </div>
</div>
<div class="space space-4"></div>
<br><br>
<div id="main_container_social_network">
</div>

<br><br>
<div class="panel panel-default">
  <div class="panel-heading">Fans of channel {{name}}</div>
  <div class="panel-body">
    <div class="row center">
        <div class="col-xs-12">

            {{#isFan fans}}
                <span id="stopBeingFan" class="btn btn-sm btn-block btn-success">
                    <i class="fa fa-plus bigger-120"></i>
                    <span>

                            <span id="wrapMakeFanText">Stop being fan</span>

                    </span>
                </span>
            {{else}}
                <span id="makeFan" class="btn btn-sm btn-block btn-success">
                    <i class="fa fa-plus bigger-120"></i>
                    <span>

                       <span  id="wrapMakeFanText" class="bigger-110">Make fan</span>

                    </span>
                </span>


            {{/isFan}}


                <br />
                <div class="alert alert-danger" style="display: none;"></div>
            
            <br>
        </div>
    </div>  
    <div class="row" id="usersFans">
    </div>
    <div class="row pull-right"><a href="#" id="view-all-fans">View all fans</a></div>
  </div>
</div>
</div>