<a href="#">
    <img src="{{#if created_by.profile.profile_photo}}{{created_by.profile.profile_photo.path_icon}}{{else}}{{ globalVar "default_user_image_icon" }}{{/if}}" class="msg-photo">
    <span class="msg-body">
        <span class="msg-title">
            <span class="blue">{{created_by.username}}:</span>
            {{ subject }}
        </span>
        <span class="msg-time">
            <i class="fa fa-clock-o"></i>
            <span>{{ relativeFromNow created_at }}</span>
        </span>
    </span>
</a>