 <!DOCTYPE html>
<html>
<body>

<style type="text/css">
    html, body, div, iframe { margin:0; padding:0; height:100%; }
    iframe { position: absolute; display:block; height: 98%;  width:100%; border:none; }
</style>

<iframe src="https://kiwi1.chatsfree.net/?{{params}}">
 <p>Your browser does not support iframes. You can chat from <a href="https://kiwi1.chatsfree.net">https://kiwi1.chatsfree.net</a></p>
</iframe>


</body>
</html>