 <!DOCTYPE html>
<html>
<body>

<style type="text/css">
    html, body, div, iframe { margin:0; padding:0; height:100%; }
    #cgs-webchat { position: absolute; display:block; height: 98%;  width:100%; border:none; }
</style>
<div id="cgs-webchat"></div>
{% if params_array.channel is defined %}
 	{%  set channel = params_array.channel~','~channel_affiliate %}
{% else %}
    {%  set channel = channel_affiliate %}
{% endif %}

{% if app.user %}
    {% set nick = app.user.username %}
{% else %}
    {% set nick = nick_affiliate ~ '????' %}
{% endif %}
{% include "ApiSocialBundle:Chat:script.html.twig" with {enter_channel: channel, chat_nick: nick } %}
</body>
</html>