    <div class="col-xs-12 center">
        <span class="profile-picture">
            <img class="img-responsive" alt="{{ username }} Avatar" src="
            {{#if profile.profile_photo}}
                {{ profile.profile_photo.path_medium }}
            {{else}}
                {{ globalVar "default_user_image_medium" }}
            {{/if}}
            ">
        </span>
        <div class="space space-4"></div>
        {{#if on_line}}
        <a class="btn btn-lg btn-primary" id="chat-with-user">
            <i class="fa fa-comments bigger-110"></i>
            <span class="bigger-110">Chat with  {{ username }}</span>
        </a>
        {{else}}
        <a class="btn btn-lg btn-primary disabled" id="chat-with-user">
            <i class="fa fa-comments bigger-110"></i>
            <span class="bigger-110">{{ username }} is offline</span>
        </a>
        {{/if}}
        <div class="space space-4"></div>
    </div>
    <br style="clear:both">

    <div class="profile-user-info clearfix">
        <div class="profile-info-row">
            <div class="profile-info-name"> Username </div>

            <div class="profile-info-value">
                <span>{{ username }}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> Status </div>

            <div class="profile-info-value">


                {{#if on_line}}
                <span class="badge badge-online">
                 {{ username }} is Online
                </span>
                {{else}}
                <span class="badge badge-offline">
                    {{ username }} is Offline
                </span>
                {{/if}}

            </div>
        </div>
        {{#if city}}
        <div class="profile-info-row">
            <div class="profile-info-name"> Location </div>

            <div class="profile-info-value">
                <span>{{ getLocation }}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> Last login </div>

            <div class="profile-info-value">
                <i class="fa fa-map-marker light-orange bigger-110"></i>
                <span>{{ dateLastLogin}}</span>
            </div>
        </div>
        {{/if}}
        {{#if profile}}
        <div class="profile-info-row">
            <div class="profile-info-name"> Age </div>

            <div class="profile-info-value">
                <span>
                    {{{ yearsOld }}}
                </span>
            </div>
        </div>
        {{/if}}
        {{#with profile}}
        {{#if about}}
        <div class="profile-info-row">
            <div class="profile-info-name"> About me</div>

            <div class="profile-info-value">
                <span>{{{ about }}}</span>
            </div>
        </div>
        {{/if}}
        {{#if gender}}
        <div class="profile-info-row">
            <div class="profile-info-name"> Gender</div>

            <div class="profile-info-value">
                <span>{{ gender }}</span>
            </div>
        </div>
        {{/if}}
        {{#if count_visits}}
        <div class="profile-info-row">
            <div class="profile-info-name"> Visits</div>

            <div class="profile-info-value">
                <span>{{ count_visits }}</span>
            </div>
        </div>
        {{/if}}
        {{#if you_want}}
        <div class="profile-info-row">
            <div class="profile-info-name"> You want</div>

            <div class="profile-info-value">
                <span>{{ you_want }}</span>
            </div>
        </div>
        {{/if}}
        {{#if seeking}}
        <div class="profile-info-row">
            <div class="profile-info-name"> Seeking</div>

            <div class="profile-info-value">
                <span>{{ seeking }}</span>
            </div>
        </div>
        {{/if}}
        {{/with}}

    </div>
    
