<h1 class="blue">Profile of {{ username }}</h1>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success" style="padding-bottom: 30px">
            <div class="panel-heading">
                <h3 class="panel-title">{{ username }}'s Chats</h3>
            </div>


            <div class="channelList">
                <h3 id="channelsOwn"><i class="fa fa-trophy"></i> Owner of channels   <b class="fa fa-angle-double-down"></b></h3>
                <div id="channels_owner" class="col-xs-12"></div>
                <a href="users/{{ id }}/channels/owner">List all</a>
            </div>

            <div class="channelList">
                <h3 id="channelsModerator"><i class="fa fa-gavel"></i> Moderator of channels   <b class="fa fa-angle-double-down"></b></h3>
                <div id="channels_moderator" class="col-xs-12"></div>
                <a href="users/{{ id }}/channels/moderator">List all</a>
            </div>

            <div class="channelList">
                <h3 id="channelsFan"><i class="fa fa-star"></i> Fan of channels   <b class="fa fa-angle-double-down"></b></h3>
                <div id="channels_fan" class="col-xs-12"></div>
                <a href="users/{{ id }}/channels/fan">List all</a>
            </div>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
</div>