{% if channelsItems | length > 0  %}
    <ol class="breadcrumb" id="breadcrumbs" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <li><a itemprop="url" href="{{ path('channel_list') }}"><spam itemprop="title">Rooms</spam></a></li>
        {% for channel in channelsItems %}
            {% if loop.last %}
                <li itemprop="child" class="active"><span itemprop="title">{{ channel.name }}</span></li>
            {% else %}
                <li itemprop="child"><a itemprop="url" href="{{ path('channel_show', {'slug': channel.slug}) }}"><spam itemprop="title">{{ channel.name }}</spam></a></li>
            {% endif %}
        {% endfor %}
    </ol>
{% endif %}