{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% block chatea_body %}

    {% set urlcanonical = url('channel_show', {'slug': channel.slug}) %}

    <h1 class="title">{% trans with {'%name%': channel.name} %}Free %name% Chat Room{% endtrans %}</h1>
    {{ render(controller('ApiSocialBundle:Channel:renderBreadcrumb', {'channel':  channel })) }}
    <br /><br />
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-lg-8 wellchatea chatBox">
                {% include "ApiSocialBundle:Chat:widget.html.twig" with { "channel": channel } %}
            </div>
        </div>



        {% include 'ApiSocialBundle:Channel:_info.html.twig' with {'channel': channel} %}

        {# if this chat room has content of chatsfree, we include in the page #}
        {% if meta is not null and meta.content %}
            <h2>Description <small>description and use of this chat room</small></h2>
            <p>{{ meta.content }}</p>
        {% endif %}

        {% if channel.children | length > 0 %}
            <div class="page-header"><h3>{{ "Childrens" | trans}} <small> all chat rooms of {{ channel.name }}</small></h3></div>
            {% include 'ApiSocialBundle:Channel:_list.html.twig' with {'channels' : channel.children, 'columnClass': 'col-xs-2' } %}
        {% endif %}
    </div>

    <div id="channelsSidebar">
        {% include 'ApiSocialBundle:Channel:_sidebar.html.twig' with {'channel': channel} %}
    </div>
{% endblock %}