<script>
<div class="profile-user-info profile-user-info-striped">
	<div class="profile-info-row">
		<div class="profile-info-name"> Username </div>

		<div class="profile-info-value">
			<span id="username" class="editable editable-click"><%= username %></span>
		</div>
	</div>
	<%if ((typeof(profile) != 'undefined') && profile.get('gender')) {%>
	<div class="profile-info-row">
		<div class="profile-info-name"> Gender </div>

		<div class="profile-info-value">
			<span id="gender" class="editable editable-click"><%= profile.get('gender') %></span>
		</div>
	</div>
	<%}%>

	<div class="profile-info-row">
		<div class="profile-info-name"> Location </div>

		<div class="profile-info-value">
			<i class="fa fa-map-marker light-orange bigger-110"></i>

			<% if (typeof(country) != 'undefined') {%><span id="country" class="editable editable-click"><%= city.country %></span><% } %>
			<% if (typeof(city) != 'undefined') {%><span id="city" class="editable editable-click"><%= city.name %></span><% } %>
		</div>
	</div>
	
	<% if ((typeof(profile) != 'undefined') && profile.get('birthday')) {%>
	<div class="profile-info-row">
		<div class="profile-info-name"> Age </div>

		<div class="profile-info-value">
			<span id="age" class="editable editable-click"><%= new Date().getFullYear() - moment(profile.get('birthday')).year()%></span>
		</div>
	</div>
	<% } %>
	<% if ((typeof(profile) != 'undefined') && profile.get('seeking')) {%>
	<div class="profile-info-row">
		<div class="profile-info-name"> Seeking </div>

		<div class="profile-info-value">
			<span id="seeking" class="editable editable-click"><%= profile.get('seeking') %> </span>
		</div>
	</div>
	<% } %>

	<div class="profile-info-row">
		<div class="profile-info-name"> Last Online </div>

		<div class="profile-info-value">
			<span id="login" class="editable editable-click"><%= moment(last_login).format('MMMM Do YYYY, h:mm:ss a')%></span>
		</div>
	</div>
	<%if ((typeof(profile) != 'undefined') && profile.get('about')) {%>
	<div class="profile-info-row">
		<div class="profile-info-name"> About Me </div>

		<div class="profile-info-value">
			<span id="about" class="editable editable-click"><%= profile.get('about') %></span>
		</div>
	</div>
	<% } %>
	
	<%if ((typeof(profile) != 'undefined') && profile.get('you_want')) {%>
	<div class="profile-info-row">
		<div class="profile-info-name"> You want </div>

		<div class="profile-info-value">
			<span id="you_want" class="editable editable-click"><%= profile.get('you_want') %></span>
		</div>
	</div>
	<%}%>
</div>

<div class="space-20"></div>
</script>