<script type="text/javascript">
<div class="pull-center alert alert-success no-margin">
	<button data-dismiss="alert" class="close" type="button">
		<i class="fa fa-times"></i>
	</button>

	<i class="icon-umbrella bigger-120 blue"></i>
	Welcome your dashboard. Here you can modify your public data, and see info about your channels.
</div>
<br>
<div class="col-xs-12">
	<div class="user-profile row" id="user-profile-1">
		<div class="col-xs-12 col-sm-3 center">
			<span class="profile-picture">
			<ul class="nav">
				<li>
					<a data-toggle="dropdown" class="dropdown-toggle">
						<%if ((typeof(profile) != 'undefined') && profile.get('profile_photo')){ %>
							<img src="<%=profile.get('profile_photo').get('path_small')%>" alt="User's Avatar" class="editable img-responsive editable-click editable-empty" id="avatar"></img>

						<% }else{ %>
							<img src="<%= window.default_user_image_small %>" alt="User's Avatar" class="editable img-responsive editable-click editable-empty" id="avatar"></img>
						<%}%>
					</a>
					<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<li>
							<a href="me/dashboard/change-profile-photo">Upload profile photo</a>
						</li>
						<li>
							<a href="me/dashboard/choose-profile-photo">Choose from your photos</a>
						</li>
					</ul>
				</li>
			</ul>
			</span>

			<div class="space-4"></div>

			<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
				<div class="inline position-relative">
					<a data-toggle="dropdown" class="user-title-label dropdown-toggle" href="#">
						<i class="icon-circle light-green middle"></i>
						&nbsp;
						<span class="white"><%= username %></span>
					</a>

					<ul class="align-left dropdown-menu dropdown-caret dropdown-lighter">
						<li class="dropdown-header"> Change Status </li>

						<li>
							<a href="#">
								<i class="icon-circle green"></i>
								&nbsp;
								<span class="green">Available</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="icon-circle red"></i>
								&nbsp;
								<span class="red">Busy</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="icon-circle grey"></i>
								&nbsp;
								<span class="grey">Invisible</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			

			<div class="space-6"></div>

			<div class="profile-contact-info">
				<div class="profile-contact-links align-left">
					<a href="#" class="btn btn-link" id="go_me_edit">
						<i class="fa fa-edit bigger-120 green"></i>
						Edit profile
					</a>

					<a href="/me/change-password" class="btn btn-link">
						<i class="fa fa-cog bigger-120 green"></i>
						Change password
					</a>

					<a class="btn btn-link" id="create_channel_from_dashboard">
						<i class="fa fa-envelope bigger-120 pink"></i>
						Create a channel
					</a>
				</div>
			</div>

		</div>

		<div class="col-xs-12 col-sm-9">
			<div class="center">
				<% if (typeof(profile) != 'undefined') {%>
				<span class="btn btn-app btn-sm btn-light no-hover">
					<span class="line-height-1 bigger-170 blue"> <%= profile.get('count_visits') %></span>

					<br>
					<span class="line-height-1 smaller-90"> Views </span>
				</span>
				<% } %>

				<span class="btn btn-app btn-sm btn-pink no-hover" id='channels_list'>
					<span class="line-height-1 bigger-170"> <%= enabled.length %> </span>

					<br>
					<span class="line-height-1 smaller-90" > Channels </span>
				</span>

				<span class="btn btn-app btn-sm btn-grey no-hover" id='channels_pendings_list'>
					<span class="line-height-1 bigger-170"> <%= disabled.length %> </span>

					<br>
					<span class="line-height-1 smaller-90"> Pending </span>
				</span>

				<span class="btn btn-app btn-sm btn-success no-hover" id="channels_fan">
					<span class="line-height-1 bigger-170"> <%= channels_fan.length %> </span>

					<br>
					<span class="line-height-1 smaller-90"> Fan </span>
				</span>

				<span class="btn btn-app btn-sm btn-primary no-hover" id="channels_is_moderator">
					<span class="line-height-1 bigger-170"> <%= channels_moderated.length %> </span>

					<br>
					<span class="line-height-1 smaller-90"> Moderate </span>
				</span>
			</div>

			<div class="space-12"></div>
			
			<div class="content-show"></div>
		</div>
	</div>

<!-- PAGE CONTENT ENDS -->
</div>

</script>
