<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="{{ photo | photoUrl("large") }}" itemprop="contentUrl" data-size="600x400">
        <img src="{{ photo | photoUrl("medium") }}" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">{{ photo.title }}</figcaption>
</figure>