{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% block head_css %}
    {{ parent() }}

    {% stylesheets
    'bundles/apisocial/raty/jquery.raty.css'
    filter='cssrewrite'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock head_css %}

{% block chatea_body %}
    <div class="row">
        <div class="col-md-5 col-md-offset-2">

            <div id="vote_container">

                <h1>Votar foto <span id="username"></span></h1>
                <div id="raty"></div>
                <img src="" id="profile_photo" />
            </div>

        </div>
    </div>
{% endblock %}

{% block body_js_end %}
    {{ parent() }}
    {% javascripts
    '@ApiSocialBundle/Resources/public/raty/jquery.raty.js'

    %}
    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    <script>
        var token ="YmQ1MDRiN2Y5M2E1ZjIxYTY4NDFkYmUzZDQ3MWIzM2JhNTE5NTBhMTJjZjkzNzY5MTZhMjViYjlhODMxOWUwZnJ1MDE0NDA1Nzg1ODBiY2VjMDY3OTM2YWQwYjRlYThjZDlkZjRjMWRhYTkzYjk0MjRkMDZjODUwZDk4OTJmMTcwYTlhOWQwMDM5Yzdh";
        window.api_endpoint = "http://api.chatsfree.lo/app_dev.php";
        var users = [];
        var current_user;
        function getUsers() {
            $.ajax({
                        url: window.api_endpoint + "/api/users?filters=language%3Des%2Chas_profile_photo%3D1&limit=30&offset=0&order=randomly%3Dasc",
                        beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + token); },
                        success: function(data, status) {
                            users = data.resources;
                            showUser();
                        }
                    }
            );
        }

        function nextUser() {
            if(users.length == 0) getUsers();
            else {
                showUser();
            }
        }

        function showUser() {
            current_user = users.shift();
            $("#username").html(current_user.username);
            $("#profile_photo").attr("src",current_user.profile.profile_photo.path_large);
        }

        function sendScore(score, user) {
            $.ajax({
                        type: "POST",
                        url: window.api_endpoint + "/api/users/"+user.id+"/vote",
                        data: {"photo": user.profile.profile_photo, "score": }
                        beforeSend: function(xhr, settings) { xhr.setRequestHeader('Authorization','Bearer ' + token); }
                    }
            );
        }

        $('#raty').raty({
            number: 10, path: '/bundles/apisocial/raty/images/',
            click: function(score, evt) {
                showUser();
                sendScore(score, current_user);
                return false;
            }
        });



        nextUser();
    </script>

{% endblock %}
