<form>
    <fieldset>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="body">{{ t "messages::recipient" }}:</label>
            <div class="input-icon block col-xs-12 no-padding">
                <textarea maxlength="100" class="col-xs-12" name="body" id="form-field-body" placeholder="Message"></textarea>
            </div>
        <div>
    </fieldset>
</form>
<span class="inline btn-send-message">
    <button type="button" class="btn btn-sm btn-primary no-border" id="send">
        <span class="bigger-110">Send</span>
    </button>
</span>
