<script>
	<div class="col-xs-3">
		<a href="/<%= slug %>" data-rel="colorbox" class="cboxElement">
			<% if (typeof(photo) != "undefined") { %>
				<img height="100%" width="100%" class="pull-left lazy" data-original=<%=photo.path %> alt="<%= 	name %>">
			<% } else { %>
				<img height="100%" width="100%" class="pull-left lazy" data-original="<%= window.default_chat_image %>" alt="<%= 	name %>">
			<% } %>
		</a>
	</div>
	<div class="col-xs-9">
		<h3>
			<a href="/<%= slug %>" data-rel="colorbox" class="cboxElement">
				Room <%= name %>
			</a>
		</h3>
		<p class="hidden-xs">Chat room of <%=name%>, enter to chat for free</p>
		<p class="type-off">Created by <a href="/users/<%=owner.username_canonical%>-<%=owner.id%>"><%=owner.username%></a></p>

		<div style="margin-bottom:15px;" class="col-lg-6 col-xs-12 clearfix">
			<%
			var children = channels.slice(0,4);
			for(var i=0;i<children.length;i++){
			%>
			<span class="type-off">
				<a title="Enter the chat of <%= children[i].name %>" href="/<%= children[i].slug %>"> &nbsp; <%= children[i].name %></a>
			</span>
			<% } %>
			<a title="Enter the chat of <%= name %>" href="/<%= slug %>">more...</a>
        </div>
	</div>
</script>