<div class="row message-item {{#unless is_readed}}message-unread{{/unless}}">
    <div class="col-xs-2">
        <img src="{{#if created_by.profile.profile_photo}}{{created_by.profile.profile_photo.path_icon}}{{else}}{{ globalVar "default_user_image_icon" }}{{/if}}"> <span title="{{created_by.username}}" class="text">{{created_by.username}}</span>
    </div>

    <div class="col-xs-4">
        <span class="text">
            {{#each participants}}
                {{this.username}}{{#unless @last}}, {{/unless}}
            {{/each}}
        </span>
    </div>
       <div class="col-xs-4 summary">
        <span class="text">{{subject}}</span>
    </div>

    <span class="col-xs-2">{{ relativeFromNow created_at}}</span>
</div>