<div class="message-container">
    <div id="id-message-list-navbar" class="message-navbar align-center clearfix">
        <div class="action-buttons pull-right">

            <a id="delete" class="btn btn-danger">{{ t "messages::delete" }}</a>
            <a id="reply" class="btn btn-primary" href="#">{{ t "messages::reply" }}</a>

        </div>
        <div class="message-bar">
            <div class="message-infobar" id="id-message-infobar">
            </div>
            <div>
                <div class="messagebar-item-left">
                    <a href="#" class="btn-back-message-list">
                        <i class="fa fa-arrow-left blue bigger-110 middle"></i>
                        <b class="bigger-110 middle">{{ t "messages::back" }}</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="replay-container">
    </div>
    <div class="message-list" id="messages">
    </div>
</div>