<script>
<ul class="nav nav-tabs padding-18">
	<li class="active" id="tabShowChannel">
		<a data-toggle="tab" id="show_channel">
			<i class="green fa fa-user bigger-120"></i>
			Info
		</a>
	</li>

	<li class="" id="tabFans">
		<a id="fans">
			<i class="blue fa fa-group bigger-120"></i>
			Fans
		</a>
	</li>

	<li class="" id="tabModerators">
		<a id="moderators">
			<i class="red fa fa-legal bigger-120"></i>
			Moderators
		</a>
	</li>
	<% if (owner.id == window.user_id) { %>
	<li class="" id="tabEdit">
		<a id="edit">
			<i class="blue fa fa-edit bigger-120"></i>
				Edit
		</a>
	</li>
	<% } %>
</ul>
<br/>
</script>