<div id="photo">
  <div class="row col-md-6">
    {{#if title}}
      <h2>{{title}}</h2> 
    {{else}}
      <h2>Photo {{id}}</h2>
    {{/if}}<a id="assign-profile">(Assign as profile photo)</a>
    {{#if score}}
      <p>Score: {{score}} | Voted:  {{number_votes}} </p>
    {{/if}}
    <p>Publicated at: {{publicated_at}} {{#album}} in {{title}} {{/album}}</p>
    <img src={{ path }}>
  </div>
  <div class="row col-md-6">
    <h2><label for="title">Change the title:</label></h2>
    <input type="text" name="title" value="{{title}}"/></p>
    <p><button class="btn btn-primary">Save</button> <button class="btn btn-danger">Delete</button> <button class="btn btn-success">Cancel</button></p>
  </div>
</div>
